In [1]:
import pandas as pd
import numpy as np

In [15]:
Dataset = np.array(list(range(1,7))).reshape((3,2))
Dataset

array([[1, 2],
       [3, 4],
       [5, 6]])

In [5]:
p=np.array(list(range(1,19))).reshape((9,2))
p

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16],
       [17, 18]])

In [17]:
data=([1,1],[2,3],[3,3],[4,2],[5,5])
data

([1, 1], [2, 3], [3, 3], [4, 2], [5, 5])

In [33]:
p=pd.DataFrame(data,columns =['x','y']) # we got our dataset for simple linear regression
p

   x  y
0  1  1
1  2  3
2  3  3
3  4  2
4  5  5

In [54]:
def mean(data):
    m=sum(data)/int(len(data))
    return m

In [55]:
N = list(range(1,6))
N

[1, 2, 3, 4, 5]

In [56]:
mean(N)

3.0

In [102]:
mean_x=p[['x']].apply(mean).values[0]
mean_x

3.0

In [101]:
mean_y=p[['y']].apply(mean).values[0]
mean_y

2.8

In [130]:
def get_covariance(p,mean_x,mean_y):

    xi = p.values[0]
    yi = p.values[1]
    disx=(xi-mean_x)
    disy=(yi-mean_y)
    covariance=disx*disy
    return [disx,disy,covariance]

In [120]:
mean_x
mean_y

2.8

In [121]:
p

   x  y
0  1  1
1  2  3
2  3  3
3  4  2
4  5  5

In [122]:
def display(x):
    print(x)

In [123]:
p.apply(display,axis=1) ## understand axis

x    1
y    1
Name: 0, dtype: int64
x    2
y    3
Name: 1, dtype: int64
x    3
y    3
Name: 2, dtype: int64
x    4
y    2
Name: 3, dtype: int64
x    5
y    5
Name: 4, dtype: int64

0    None
1    None
2    None
3    None
4    None
dtype: object

In [137]:
p.apply(get_covariance,args=([mean_x,mean_y]),axis=1)

0      [-2.0, -1.7999999999999998, 3.5999999999999996]
1    [-1.0, 0.20000000000000018, -0.20000000000000018]
2                      [0.0, 0.20000000000000018, 0.0]
3      [1.0, -0.7999999999999998, -0.7999999999999998]
4                                      [2.0, 2.2, 4.4]
dtype: object

In [138]:
p

,x,y,disx,disy,coveriance,"(disx, disy, coveriance)"
0,1,1,NaN,NaN,NaN,"[-2.0, -1.7999999999999998, 3.5999999999999996]"
1,2,3,NaN,NaN,NaN,"[-1.0, 0.20000000000000018, -0.20000000000000018]"
2,3,3,NaN,NaN,NaN,"[0.0, 0.20000000000000018, 0.0]"
3,4,2,NaN,NaN,NaN,"[1.0, -0.7999999999999998, -0.7999999999999998]"
4,5,5,NaN,NaN,NaN,"[2.0, 2.2, 4.4]"

In [89]:
def diff_xandm(data,mean_x):
    diff_x_and_mean=[]
    data=p.values[0]
    print(data)
    print(data)
    for i in data:
        m = (i-mean_x)
        diff_x_and_mean.append(m)
    return diff_x_and_mean

In [91]:
p[['x']].apply(diff_xandm,args=3)

TypeError: diff_xandm() argument after * must be an iterable, not int

In [152]:
p

,x,y,disx,disy,coveriance,"(disx, disy, coveriance)"
0,1,1,NaN,NaN,NaN,"[-2.0, -1.7999999999999998, 3.5999999999999996]"
1,2,3,NaN,NaN,NaN,"[-1.0, 0.20000000000000018, -0.20000000000000018]"
2,3,3,NaN,NaN,NaN,"[0.0, 0.20000000000000018, 0.0]"
3,4,2,NaN,NaN,NaN,"[1.0, -0.7999999999999998, -0.7999999999999998]"
4,5,5,NaN,NaN,NaN,"[2.0, 2.2, 4.4]"

In [167]:
def dis_x(x,mean_x):
    disx=[]
#     xi = x.values[0]
    print(x)
p.apply(dis_x,args=([3]),axis=0)

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64
0    1
1    3
2    3
3    2
4    5
Name: y, dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: disx, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: disy, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: coveriance, dtype: float64
0      [-2.0, -1.7999999999999998, 3.5999999999999996]
1    [-1.0, 0.20000000000000018, -0.20000000000000018]
2                      [0.0, 0.20000000000000018, 0.0]
3      [1.0, -0.7999999999999998, -0.7999999999999998]
4                                      [2.0, 2.2, 4.4]
Name: (disx, disy, coveriance), dtype: object

x                           None
y                           None
disx                        None
disy                        None
coveriance                  None
(disx, disy, coveriance)    None
dtype: object

In [155]:
p[['x']].apply(dis_x,args=(mean_x))

TypeError: dis_x() argument after * must be an iterable, not numpy.float64