In [1]:
import pandas as pd
import numpy as np

In [7]:
data = [[2,6],[6,8],[7,5],[9,7],[5,2],[7,6]]
data

[[2, 6], [6, 8], [7, 5], [9, 7], [5, 2], [7, 6]]

In [9]:
dataset = pd.DataFrame(data,columns=['input','output'])
dataset

   input  output
0      2       6
1      6       8
2      7       5
3      9       7
4      5       2
5      7       6

In [18]:
def mean(row):
    m=sum(row)/len(row)
    return m

In [23]:
mean_data =dataset.apply(mean,axis=0)
mean_data

input     6.000000
output    5.666667
dtype: float64

In [31]:
mean_x = mean_data[0]
mean_y = mean_data[1]

In [34]:
mean_x,mean_y

(6.0, 5.666666666666667)

In [37]:
dataset.loc[0,'input']

2